@media only screen and (max-width: 991px)
{
	.site-root body
	{
		background-image: url(../images/hex-gradient-bg.jpg);
		background-size: cover;
	}
	
	.site-root .logo img {
		width: 25rem;
	}
	
	.site-root .project-card + .project-card {
		margin-top: 1rem;
	}
	
	.site-root .project-cards {
		padding-bottom: 2rem;
	}
	
	.site-root .project-card
	{
		flex-direction: row;
		padding: 1.5rem;
	}
	
	.site-root .project-card .icon
	{
		font-size: 2.5rem;
		padding-bottom: 0;
		padding-right: 1.5rem;
	}
	
	.site-root .project-card .details {
		text-align: left;
	}
}

@media only screen and (min-width: 991.01px)
{
	.site-root, .site-root body {
		height: 100%;
	}
	
	.root-wrapper
	{
		background-image: url(../images/hex-gradient-bg.jpg);
		background-size: cover;
	}
	
	.site-root .root-wrapper
	{
		width: 100%;
		min-height: 100%;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.site-root .logo {
		padding-bottom: 2rem;
	}
	
	.site-root .project-cards
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: space-between;
	}
	
	.site-root .project-card
	{
		margin-top: 2rem;
		width: 40%;
	}
}

@media only screen and (min-width: 1200px)
{
	.site-root .logo {
		padding-bottom: 4rem;
	}
}
