article table.requirements {
	width: 100%;
}

article table.requirements td {
	width: 50%;
}

article table.host-systems td.supported {
	background-color: #bcf442;
}

article table.host-systems td.unsupported {
	background-color: #ffaa00;
}

table.images td:first-child {
	word-break: keep-all;
}

ul.use-cases li, ul.commands li {
	margin-top: 1rem;
}

p.dockerfiles strong, p.dockerfiles a, p.dockerfiles a span {
	display: inline-block;
}

p.dockerfiles strong {
	margin-right: 0.25rem;
}

p.dockerfiles a {
	margin: 0 0.5rem;
}

p.dockerfiles a span {
	padding-right: 0.25rem;
}
