<table class="requirements">
	<tbody>
		{% for requirement in include.requirements %}
		{% if requirement[0] == "Host OS" %}
			{%
				assign value =
					requirement[1]
					| replace: "Linux", "[Linux](../configuration/configuring-linux)"
					| replace: "Windows Server", "[Windows Server](../configuration/configuring-windows-server)"
					| replace: "Windows 10", "[Windows 10](../configuration/configuring-windows-10)"
					| replace: "macOS", "[macOS](../configuration/configuring-macos)"
			%}
		{% else %}
			{% assign value = requirement[1] %}
		{% endif %}
			<tr>
				<th>{{ requirement[0] | markdownify | remove: "<p>" | remove: "</p>" }}</th>
				<td>{{
					value
					| replace: "$minimum_ue4$", site.data.ue4-docker.common.minimum_ue4
					| replace: "$diskspace_windows$", site.data.ue4-docker.common.diskspace_windows
					| replace: "$diskspace_linux$", site.data.ue4-docker.common.diskspace_linux
					| replace: "ue4-source", "[ue4-source](../building-images/available-container-images#ue4-source)"
					| replace: "ue4-engine", "[ue4-engine](../building-images/available-container-images#ue4-engine)"
					| replace: "ue4-minimal", "[ue4-minimal](../building-images/available-container-images#ue4-minimal)"
					| replace: "ue4-full", "[ue4-full](../building-images/available-container-images#ue4-full)"
					| markdownify
					| remove: "<p>"
					| remove: "</p>"
				}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>